@tailwind base;
@tailwind components;
@tailwind utilities;


/* global.css or custom.css */
@layer components {
  .btn-primary {
    @apply bg-green-500 hover:bg-green-600 text-white p-3 rounded-xl font-semibold;
  }
}

body{
  overflow: hidden;
  margin: 0;
  padding: 0;
 
}


